* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main-block__small-date {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 30px;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#main-block__small-date select {
  margin-right: 15px;
  background: #404040;
  color: #fff;
  border: 0;
  width: 150px;
  padding: 5px;
  font-weight: 300;
  font-size: 20px;
}

#main-block__small-date select:focus {
  outline: 0;
}

#main-block__small-date:hover {
  color: #fff;
}

body {
  color: #fff;
  font-weight: 300;
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-block__container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-block__date-time {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  padding: 30px;
}

.main-block__date-time #main-block__big-clock {
  color: #fff;
  font-size: 70px;
  padding-left: 30px;
}

.main-block__date-time #main-block__big-date {
  padding-left: 30px;
  font-size: 23px;
  color: lightblue;
}

.main-block__calendar-area {
  background: #404040;
  margin-bottom: 20px;
}

.main-block__calendar {
  padding: 35px;
}

.main-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-block__row .previous-month, .main-block__row .next-month {
  color: rgba(255, 255, 255, 0.3);
}

.main-block__row .active {
  background: #0087f3;
  border: 4px solid #222;
}

.main-block__row .week-name:hover {
  border: 0;
}

.main-block__col-sm {
  font-size: 30px;
  width: 100px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-block__col-sm .currentDay {
  border: 4px solid #000;
  width: 90px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-block__col-sm:hover {
  border: 4px solid rgba(255, 255, 255, 0.7);
}

#wholeYear {
  background: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 720px;
  min-width: 100%;
  padding: 20px 0;
}

#wholeYear .main-block__col-sm {
  font-size: 12px;
  width: 25px;
  height: 20px;
}

#wholeYear .main-block__col-sm .month-title {
  margin-bottom: 20px;
  font-size: 20px;
}

#setMonthAndYear {
  border: 0;
  font-size: 20px;
  padding: 10px;
  color: #fff;
  background: #404040;
  border: 1px solid rgba(255, 255, 255, 0.7);
  font-weight: 300;
}

#setMonthAndYear:focus {
  outline: 0;
}
/*# sourceMappingURL=style.css.map */